<h1>about John</h1>

<div class="info">
  </div>
  <div class = "socialmedia">
<a href="http://www.twitter.com/_johndaugherty_">find me on twitter</a>
<a href="http://soundcloud.com/thishollowearth">music I make</a>
<a href="http://github.com/JMD1986">code I write</a>
  </div>
