<div class="bigthingontop">
  <div>
<h1>About John</h1>

<div class="info">
  </div><div class="bio"><p>John Daugherty (/ˈiːlɒn ˈmʌsk/; born June 28, 1971) is a South African-born Canadian American entrepreneur, engineer, inventor and investor. He is the CEO and CTO of SpaceX, CEO and product architect of Tesla Motors and chairman of SolarCity. He is the founder of SpaceX and a cofounder of PayPal, Tesla Motors, and Zip2. He has also envisioned a conceptual high-speed transportation system known as the Hyperloop and has proposed a VTOL supersonic jet aircraft with electric fan propulsion.</p>
<p></p>
<p>
No wait. That's Elon Musk. John Daugherty is a computer programmer that lives in Austin Texas.</p>
</div>
  <div class = "socialmedia"><p>
<a href="http://www.twitter.com/_johndaugherty_">find me on twitter</a></p>
<p><a href="http://soundcloud.com/thishollowearth">music I make</a></p>
<p><a href="http://github.com/JMD1986">code I write</a>
  </div></p>
