<div class="show_page">
<div class="blog_title">
  <p>
<%= post.title %>
</p>
</div>

<div class="blog_post_body">
  <p>
<%= post.body %>
  </p>
</div>

<section class="comments">
  <ul>
    <
<p>
<%= button_to "delete", data: { controller: "post", action: "destroy", id:post.id }, method:"delete" %>
</p>
<a href="../new"> new post</a>
</div>


