<div class="show_page">
<div class="blog_title">
  <p>
<%= post.title %>
</p>
</div>

<div class="blog_post_body">
  <p>
<%= post.body %>
  </p>
</div>


<p>
<%= button_to "delete", data: { controller: "post", action: "destroy", id:post.id}, method:"delete" "delete" %>
</p>
</div>
