<!DOCTYPE html>
<html>
<head>
  <title>John Daugherty</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<div class="page-wrap">
<body>
<header>
  <nav class="header_nav">
    <p><h1>Blog</h1></p>
    <p><div class="header_links"><a href="/posts">Writing</a> <a href="about">About</a> <a href="social">Social</a> <a href="blah">Advice</a> <a href="blah">Media</a><div> </p>
  </nav>
</header>

<%= yield %>

</body>
</div>
<footer>copyright 2015. TYBG.</footer>
</html>
